/*RESET CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {margin: 0;padding: 0;	border: 0; font-size: 16px;	font: inherit;}

input, textarea {outline: none;}
textarea {resize: none;}

/* HTML5 display-role reset for older browsers*/
   article, aside, details, figcaption, figure,
   footer, header, hgroup, menu, nav, section {display: block;}
body {line-height: 1;}
ol, ul {list-style: none;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,
q:before, q:after {content: ''; content: none;}
table {border-collapse: collapse; border-spacing: 0;}

h2 {
    font-size: 32px;
    margin-bottom: 40px;
}
h3 {
    font-size: 32px;
    margin-bottom: 40px;
}
h4 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 40px;
}
.wraper {
    max-width: 1160px;
    padding-right: 50px;
    padding-left: 50px;
    padding-top: 44px;
    margin-right: auto;
    margin-left: auto;
    position: relative;
}
.background-up {
    position: absolute;
    width: 1920px;
    height: 620px;
    top: 0;
    left: 0;
    background: url(img/bg-header.svg) no-repeat 50% 50%;
    background-size: cover;
    z-index: -1;
}
.background-down {
    position: absolute;
    width: 1880px;
    height: 612px;
    left: -400px;
    bottom: 0;
    right: 0;
    background: url(img/bg-footer.png) no-repeat 50% 50%;
    background-size: cover;
    z-index: -1;
}

/*HEADER*/
.header {
    display: flex;
    position: relative;
}
.header__logo-wrap {
    margin-top: 20px;
    margin-right: 65px;
    text-decoration: none;
}
.header__logo {
    max-width: 194px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

.header__right-block {
    width: 100%;
    margin-bottom: 100px;
}
.header__right-block_about-page {
    margin-bottom: 70px;
}
.header__down-vision {
    display: flex;
    align-items: center;
    margin-bottom: 27px;
}
.header__down-vision-text-block {
    text-decoration: none;
    display: flex;
    align-items: center;
}
.header__down-vision-text-block:hover .header__down-vision-line {
    background-color: #59aef5;
}
.header__down-vision-text-block:hover .header__down-vision-icon {
    color: #59aef5;
}
.header__down-vision-icon {
    max-width: 36px;
}
.header__down-vision-line {
    width: 20px;
    height: 1px;
    background-color: black;
    margin-right: 10px;
    margin-left: 10px;
}
.header__down-vision-text {
    text-decoration: none;
    color: black;
    font-family: Roboto, sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.57;
}
.header__down-vision-text:hover {
    color: #59aef5;
}
.header__upper-title {
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 20px;
    font-weight: 300;
    text-transform: uppercase;
    line-height: 1.5;
    letter-spacing: 0.89px;
}
.header__main-title {
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    font-size: 45px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 2.01px;
    margin-bottom: 38px;
}
.header__menu-block {
    display: flex;
    justify-content: space-between;
}
.menu-item {
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 18px;
    font-weight: 400;
    white-space: nowrap;
    text-decoration: none;
}
.menu-item_header {
    padding-bottom: 10px;
}
.menu-item_footer {
    display: block;
    margin-bottom: 23px;
}
.menu-item_footer:last-child {
    margin-bottom: 0;
}
.menu-item:hover {
    color: #59aef5;
}
.menu-item_active {
    border-bottom: 2px solid #59adf4;

}
/*/HEADER*/

/*MAIN*/
.main {
}
.main__about {
    display: flex;
    margin-bottom: 117px;
}
.main__left-part {
    min-width: 260px;
}
.main__left-part-line {
    width: 60px;
    height: 6px;
    border-radius: 3px;
    background-color: #c9cccf;
    margin-bottom: 28px;
}
.main__left-part-title {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 48px;
    font-weight: 400;
    line-height: 1.25;
    text-transform: uppercase;
    margin-bottom: 46px;
}
.main__left-part-title_about {
    color: #2dcb6b;
}
.main__left-part-title_news {
    color: #59aef5;
}
.main__left-part-title_questions {
    color: #f03230;
}

.main__right-part {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.main__right-part-text-block {
    width: 434px;
    height: 328px;
    overflow: hidden;
    margin-bottom: 46px;
}
.main__right-part-text {
    color: black;
    font-family: Calibri,sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    text-overflow: clip;
}
.main__read-more {
    display: inline-flex;
    align-items: center;
    text-decoration: none;
}
.main__read-more:hover .main__read-more-line {
    background-color: #f03230;
}
.main__read-more:hover .main__read-more-text {
    color: #f03230;
}
.main__read-more-line {
    width: 20px;
    height: 2px;
    margin-right: 10px;
}
.main__read-more-line_about {
    background-color: #2dcb6b;
}
.main__read-more-line_news {
    background-color: #59aef5;
}
.main__read-more-text {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    line-height: 2;
}
.main__read-more-text_about {
    color: #2dcb6b;
}
.main__read-more-text_news {
    color: #59aef5;
}
.main__right-part-img-wrap {
    max-width: 404px;
    margin-top: -30px;
}
.main__right-part-img {
    width: 100%;
}

/*NEWS-BLOCK*/
.main__news {
    width: 100%;
    display: flex;
    margin-bottom: 40px;
}
.main__news-block-item {
    margin-bottom: 62px;
}
.main__news-block-item:first-child {
    margin-top: -20px;
}
.news-block-item__date {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
}
.news-block-item__text {
    color: #000000;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 2.71;
    text-transform: uppercase;
}
.news-block-item__text_day {
    margin-right: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    border: 4px solid #59aef5;
    text-align: center;
    line-height: 2.9;
}
.news-block-item__title {
    color: black;
    font-family: Calibri, sans-serif;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.25;
    max-width: 600px;
    text-decoration: none;
    display: block;
    margin-bottom: 40px;
}
.main__news-img-wrap {
    min-width: 180px;
    height: 180px;
    border: 20px solid #ececec;
    border-radius: 50%;
}
.main__news-img {}

/*/NEWS-BLOCK*/

.main__questions {
    max-width: 600px;
    margin-bottom: 30px;
}

/*/MAIN*/

/*FOOTER*/
.footer {
    position: relative;
}
.footer__up {
    margin-bottom: 80px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.footer__down {
    display: flex;
    justify-content: space-between;
}
.footer__left {
    display: flex;
}
.footer__right {
    min-width: 260px;
}

.footer__left .footer__up-block {
    margin-right: 100px;
}
.footer__block {}
.footer__block_site {
    display: flex;
    text-decoration: none;
    color: black;
}
.footer__block_site:hover {
    border-bottom: 1px solid #59adf4;
    padding-bottom: 2px;
}
.footer__block_up {
    margin-right: 100px;
}
.footer__block_copyright {
    max-width: 320px;
    margin-right: 230px;
}
.footer__up-block-title {
    margin-bottom: 18px;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 0.63;
    text-transform: uppercase;
}
.footer__up-block-text {
    color: black;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.25;
}
.footer__up-block-text_phone {
    text-decoration: none;
    display: block;
}
.footer__up-block-text_phone:hover {
    border-bottom: 1px solid #59adf4;
}
.footer__up-block-text_mail {
    text-decoration: none;
}
.footer__up-block-text_mail:hover {
    border-bottom: 1px solid #59adf4;
}
.footer__icon {
    width: 16px;
    height: 16px;
    margin-right: 10px;
}
.footer__down-text {
    text-decoration: none;
    /* Style for "Создание с" */
    color: black;
    font-family: Calibri, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.29;
}
.footer__down-text_copyright {
    line-height: 1.43;
}
/*/FOOTER*/

/*ABOUT-US*/
.title {
    margin-left: 260px;
}
.title__home {
    height: 10px;
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-bottom: 23px;
    text-decoration: none;
}
.title__home:hover {
    color: #59aef5;
}
.title__text {
    color: #2dcb6b;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 38px;
    font-weight: 400;
    line-height: 1.58;
    text-transform: uppercase;
    margin-bottom: 42px;
}

.main__left-menu {}
.menu-item_left {
    line-height: 2.5;
    text-decoration: none;
    display: block;
}

.about {
    margin-top: 28px;
}
.about__title-block {
    width: 95%;
}
.about__text {
    color: black;
    font-family: Calibri, sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 1.6;
    margin-bottom: 40px;
}
.about__text_title {
    font-size: 32px;
    font-weight: 700;
    margin-bottom: 45px;
}
.about__text_link {
    border-bottom: solid 1px #59aef5;
    padding-bottom: 2px;
    text-decoration: none;
}
.about__text_link:hover {
    color: #59aef5;
}
.about__img-wrap {
    width: 263px;
    float: left;
    margin-right: 40px;
    margin-bottom: 30px;
}
.about__img {
    width: 100%;
}
.about__list-block-title {
    font-size: 30px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 30px;
}
.about__list {
    list-style-type: none;
    margin-bottom: 60px;
    padding-left: 30px;
}
.about__list-item1 {
    position: relative;
}
.about__list-item1:before {
    content: '';
    position: absolute;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: #2cc96a;
    left: -30px;
    top: 12px;
}
.about__list-item2 {
    position: relative;
}
.about__list-item2:before {
    content: '';
    position: absolute;
    width: 15px;
    height: 1px;
    background-color: black;
    left: -30px;
    top: 16px;
}
.about__green-block {
    margin-left: -60px;
    width: 720px;
    height: 175px;
    box-shadow: 0 30px 30px rgba(30, 27, 25, 0.2);
    background-color: #2cc96a;
    margin-bottom: 80px;
}
.about__green-block-text {
    padding: 40px 80px 40px 60px;
    color: white;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 26px;
    font-weight: 400;
    line-height: 1.38;
}
.about__title2 {
    font-size: 32px;
}
.about__title3 {
    font-size: 32px;
}
.about__title4 {
    font-size: 24px;
    font-weight: 700;
}
.about__green-img-wrap {
    position: absolute;
    left: -66px;
    width: 66px;
    top: -10px;
}
.about__green-img {
    width: 100%;
}
.about__main-block {
    position: relative;
}
.about__table {
    width: 100%;
    border: 1px solid #c9cccf;
    margin-bottom: 50px;
    border-collapse: collapse;
}
.about__table-row {
    height: 60px;
    border: 1px solid #c9cccf;
}
.about__table-row_grey {
    background-color: #ececec;
}
.about__table-item {
    width: 50%;
    text-align: left;
    margin: 0;
    color: black;
    font-family: Calibri, sans-serif;
    font-size: 14px;
    font-weight: 400;
    padding-left: 20px;
    border: 1px solid #c9cccf;
}
.about__table-item_title1 {
    font-size: 18px;
    font-weight: 700;
}
.about__table-item_title2 {
    font-size: 18px;
    font-weight: 400;
}
.about__files-block {
    display: flex;
    margin-bottom: 36px;
}
.about__files-block-img-wrap {
    min-width: 66px;
    margin-left: -15px;
}
.about__files-block-img {
    width: 100%;
}
.about__files-block-text {
    margin-top: 12px;
    color: black;
    font-family: Calibri, sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 1.33;
    text-decoration: none;
    border-bottom: solid 2px transparent;
    padding-bottom: 3px;
    display: inline;
}
.about__files-block-text:hover {
    border-color: #59adf4;

}

.go-up {
    display: flex;
    position: fixed;
    transform: rotate(-90deg);
    right: 50px;
    bottom: 150px;
    text-decoration: none;
}
.go-pu__text {
    color: black;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.4px;
    margin-right: 10px;
}
.go-pu__line {
    width: 20px;
    height: 1px;
    background-color: black;
    margin-top: 7px;
}

.go-up:hover .go-pu__text {
    color: #59aef5;
}
.go-up:hover .go-pu__line {
    background-color: #59aef5;
}

@media screen and (max-width: 1020px) {
    .wraper {
        max-width: 1020px;
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 44px;
        margin-right: auto;
        margin-left: auto;
    }
    .background-up {
        top: -44px;
        width: 1020px;
        height: 355px;

    }
    .background-down {
        width: 1020px;
        height: 612px;
        left: 0;
    }

    /*HEADER*/
    .header__logo-wrap {
        margin-right: 45px;
    }
    .header__logo {
        max-width: 155px;
    }

    .header__right-block {
        margin-bottom: 80px;
    }
    .header__down-vision-icon {
        max-width: 32px;
    }
    .header__down-vision-text {
        text-decoration: none;
        color: black;
        font-family: Roboto, sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 1.77;
    }
    .header__upper-title {
        font-size: 16px;
    }
    .header__main-title {
        font-size: 36px;
    }

    .menu-item {
        font-size: 16px;
    }
    /*/HEADER*/

    /*MAIN*/
    .main__about {
        margin-bottom: 90px;
    }
    .main__left-part {
        min-width: 200px;
    }
    .main__left-part-title {
        font-size: 38px;
    }
    .main__right-part-text-block {
        width: 360px;
        height: 432px;
    }
    .main__right-part-img-wrap {
        max-width: 330px;
    }

    /*NEWS-BLOCK*/
    .main__news {
        justify-content: space-between;
    }
    .news-block-item__title {
        font-size: 28px;
        max-width: 470px;
    }
    .main__news-img-wrap {
        min-width: 180px;
        height: 180px;
        border: 20px solid #ececec;
        border-radius: 50%;
    }
    .main__news-img {}

    /*/NEWS-BLOCK*/

    .main__questions {
        max-width: 600px;
        margin-bottom: 30px;
    }
    .main__questions .main__left-part-line {
        margin-bottom: 17px;
    }

    /*/MAIN*/

    /*FOOTER*/
    .footer__right {
        min-width: 220px;
    }
    .footer__block_up {
        margin-right: 45px;
    }
    .footer__block_copyright {
        max-width: 320px;
        margin-right: 60px;
    }
    .footer__up-block-text {
        font-size: 16px;
    }
    /*/FOOTER*/

    .title {
        margin-left: 200px;
    }

    .go-up {
        right: 40px;
    }
}